<template>
  <div class="hello">
    <h1>List of XLSX Files</h1>
  </div>
  <hr>
    <div class="container mt-4">
    <a class="styled-link" href="https://main.d21ikjbqk879xe.amplifyapp.com/">
      <span class="button-text">Upload Template</span>
      <span class="button-shadow"></span>
    </a>
      <hr>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Filename</th>
          <th>Download Link</th>
        </tr>
      </thead>  
      <tbody>
        <tr v-for="data in data" :key="data.id">
          <td>{{ data.filename }}</td>
          <td><a :href="data.url" target="_blank"><span class="button-text">Download</span></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>    
  import axios from 'axios'

  export default {
    data (){
      return {
        data: []
      }
    },
    mounted(){
      axios.get('https://7efyj0grqa.execute-api.ap-southeast-2.amazonaws.com/test/listing')
      .then(response => this.data = response.data)

    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  .styled-link {
  display: inline-block;
  perspective: 1000px;
}

.button-text {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  position: relative;
  transition: transform 0.3s ease;
}

.button-shadow {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transform: translateZ(-1px);
  transition: opacity 0.3s ease;
  opacity: 0;
}

.styled-link:hover .button-text {
  transform: rotateX(45deg) translateY(-5px);
}

.styled-link:hover .button-shadow {
  opacity: 1;
}

table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
    }

    th, td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
      font-weight: bold;
    }

    tr:hover {
      background-color: #f5f5f5;
    }
</style>
